* {
  padding: 0;
  margin: 0;
}

/*Color pallete for website*/
:root {
  --primary: #001a25;
  --secondary: #003f5c;
  --background: white;
  --text: black;
  --textAccent: white;
  --accent: #ff6361;
  --neutral: #ffa600;
}

/*
  General CSS for app container
*/
.appContainer{
  background-image: url('./assets/background.jpg');
  min-height: 100vh;
}

.container{
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Styling start navbar*/
.navBarContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  /*box-shadow: 10px 10px 5px var(--secondary);*/
  background: rgba(0, 26, 37, 0.5);
  backdrop-filter: blur(3px);
  flex-wrap: wrap;
}

.navButtons{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

/*For mobile navbar*/
.hamburger{
  display: none;
}

.hamburger > *{
  transition: all 0.2s ease-in-out;
}


@media (max-width: 920px) {
  .navButtons {
    flex-direction: column;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s;
  }

  .navButtons.open{
    max-height: 200px;
    opacity: 1;
  }

  .navButtons:not(.open){
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease-in-out 0.1s;
  }

  /*Styling related to mobile hamburger menu*/
  .hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--textAccent);
    font-size: x-large;
  }

  .line{
    background-color: var(--textAccent);
    width: 2rem;
    height: 0.2rem;
    border-radius: 10px;
  }

  .hamburger.open .line1{
    transform: rotate(45deg) translateY(0.6rem);
  }

  .hamburger.open .line2{
    transform: rotate(45deg) translateY(-0.2rem);
    opacity: 0;
  }

  .hamburger.open .line3{
    transform: rotate(-45deg) translateY(-0.6rem);
  }

  .hamburger.open > *{
    background-color: var(--accent);
  }
}
/*styling end navbar*/

/*Styling for Hero section*/
.Hero{
  color: var(--text);
  scroll-behavior:auto;
}
/*End styling for Hero Section*/

/*Styling for Footer section*/
.footer{
  background: rgba(0, 26, 37, 0.5);
  color: var(--textAccent);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1%;
}
/*End styling for footer section*/

/*Stylding for custom button component*/
.customButton{
  padding: 10px;
  background-color: inherit;
  border:none;
  color: var(--textAccent);
  font-family: sans-serif;
  font-weight: 900;
  font-size: large;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.customButton::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  display: block;
  height: 5px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease-out 0s;
}

.customButton:hover::after {
  width: 100%;
}

.customButton:hover{
  cursor: pointer;
  transform: scale(1.1) translateY(-1px);
}
/*Styling for custom box button*/
.customBoxButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: inherit;
  border: 2px solid var(--textAccent);
  border-radius: 10px;
  color: var(--secondary);
  background-color: var(--textAccent);
  font-family: sans-serif;
  font-weight: 900;
  font-size: large;
  box-shadow: 10px 10px 5px var(--secondary);
  backdrop-filter: blur(4.8px);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.customBoxButton:hover{
  border: 2px solid var(--textAccent);
  background-color: var(--secondary);
  color: white;
  transform: scale(1.1) translateY(-1px);
  cursor: pointer;

}

/*Styling for generic horizontal container*/
.hContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hContainerCentered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*Generic styling for vertical contaienrs*/
.vContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.vContainerCentered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columnTwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titleHighlight{
  color: var(--textAccent);
  font-size: xx-large;
  font-weight: 900;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
  font-size: 3rem;
}

.subtitle{
  font-size: 2rem;
}

.textAccent{
  color: var(--textAccent);
}

.textNeutral{
  color: var(--neutral);
}

.DecorativeHLine{
  width: 10%;
  height: 4px;
  border-radius:4px;
  background-color: var(--neutral);
}

