* {
  padding: 0;
  margin: 0;
}

/*Color pallete for website*/
:root {
  --primary: #001a25;
  --secondary: #003f5c;
  --background: white;
  --text: black;
  --textAccent: white;
  --accent: #ff6361;
  --neutral: #ffa600;
}

/*
  General CSS for app container
*/
.appContainer{
  background-image: url('./assets/background.jpg');
  min-height: 100vh;
}

.container{
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textAccent);
}

/*Styling for navbar component*/
.navBarContainer{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 10px 10px 5px var(--secondary);
  background: rgba(0, 26, 37, 0.5);
  backdrop-filter: blue(10px);
  flex-wrap: wrap;
}

.hamburger{
  display: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--textAccent);
  font-size: large;
}

.navButtons{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  
}

.navButtons.open{
  display: flex;
}

@media (max-width: 920px) {
  .navButtons {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/*Stylding for custom button component*/
.customButton{
  padding: 10px;
  background-color: inherit;
  border:none;
  color: var(--textAccent);
  font-family: sans-serif;
  font-weight: 900;
  font-size: large;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.customButton::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  display: block;
  height: 5px;
  background-color: var(--accent);
  border-radius: 16px;
  transition: all 0.3s ease-out 0s;
}

.customButton:hover::after {
  width: 100%;
}

.customButton:hover{
  cursor: pointer;
  transform: scale(1.1) translateY(-1px);
}

/*Styling for custom box button*/
.customBoxButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: inherit;
  border: 2px solid var(--textAccent);
  border-radius: 10px;
  color: var(--secondary);
  background-color: var(--textAccent);
  font-family: sans-serif;
  font-weight: 900;
  font-size: large;
  box-shadow: 10px 10px 5px var(--secondary);
  backdrop-filter: blur(4.8px);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.customBoxButton:hover{
  border: 2px solid var(--textAccent);
  background-color: var(--secondary);
  color: white;
  transform: scale(1.1) translateY(-1px);
  cursor: pointer;

}

/*Styling for generic horizontal container*/
.hContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hContainerCentered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.vContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.columnTwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titleHighlight{
  color: var(--textAccent);
  font-size: xx-large;
  font-weight: 900;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
  font-size: 3rem;
}

.subtitle{
  font-size: 2rem;
}
